body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.title {
  width: 100%;
  max-width: 800px;
  margin: 220px auto 20px auto; /* üstten navbar kadar boşluk, ortalama */
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.title h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgba(228, 7, 7, 0.959);
}

.title p {
  font-size: 20px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 40px auto;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

select, button {
  padding: 10px 14px;
  margin: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  background-color: #e91e63;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c2185b;
}

.pharmacy-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.pharmacy-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



/* Mobil uyumluluk */
@media (max-width: 768px) {
  .pharmacy-grid {
    grid-template-columns: 1fr;
  }

  .title h1 {
    font-size: 28px;
  }

  .title p {
    font-size: 16px;
  }
}